/* layout */

body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    height: 100vh; /* fallback */
    height: var(--doc-height);
}

main, header, aside, footer {
    padding: 1.2rem 2rem;
}

main.result-displayed {
    border-top: 1px solid #ddd;
}

.hidden {
    display: none;
}
.vsep {
    height: 1px;
    width: 100%;
    background-color: #ddd;
}
.light {
    color: #777;
    font-size: .8em;
    font-weight: 300;
}

button {
    background-color: white;
    border: 2px solid black;
    border-radius: 0;
    padding: .4em 1em;
}
button:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px;
}
button:active {
    transform: none;
    box-shadow: 0 -1px;
}

input {
    color: inherit;
    border: none;
    border-bottom: 2px solid currentColor;
    align-self: stretch;
    min-width: 16rem;
}

.input-button-couple {
    display: flex;
    gap: 1em;
}