html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    font-family: inherit;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}